.globalContactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

#globalContactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 6vh;
}


.globalContactForm p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.copyright-text {
    text-align: center;
    color: white;
    padding: 1vh;
    font-size: 16px;
    background-color: rgba(4, 34, 117, 0.7);
    height: 5vh;
}

.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .copyright-text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .copyright-text {
        font-size: 12px;
    }
}

