.home {
    height: 100vh;
    background: linear-gradient(rgba(4, 34, 117, 0.7), rgba(1, 8, 68, 0.7)), url("/images/home/fundo-home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white; 
}


.home h1 {
    font-size: 3em;
}

.home p {
    font-size: 1.2em;
    margin-bottom: 10%;
}

.btn {
    background-color: #2dd7ee;
    color: #04053b;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none; 
}

.btn:hover {
    background-color: #05545a;
}


